<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ffffff</string>
	<string>a52a2a</string>
	<string>ffa500</string>
	<string>3a58f7</string>
	<string>43f4c4</string>
</array>
</plist>
